@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO tailwaind css */

body{
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(226 232 240);
  }

  ::-webkit-scrollbar{
      height: 0px;
      width: 7px;
  }